@import "colors";
@import "settings";
@import "fonts";
@import "main";

.container {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
max-width: 2086px;
opacity: 1;
margin-left: auto;
margin-right: auto;

}	
.container::before {
  content: "";
}

%container-shared {
display: flex;
width: 100%;
max-width: 2086px;
padding: 0 434px;
}

// HEADER
#myHeader {
@extend %container-shared;
flex-direction: row;
height: 200px;
background-color: #F8F8F8;
position: fixed;
transition: 0.2s;

    .title {
    display: flex;
    flex: 3 3 auto;
    flex-direction: column;
    align-self: center;
      
      .title__main {
        font-family: $regular-fonts;
        letter-spacing: 0;
        font-size: 33px;
        color: $title-fonts;
        opacity: 1;
        margin: 0;
      }
      .title__content {
        font-family: $ubuntu-fonts;
        letter-spacing: 0;
        font-size: 12px;
        color: $light-blue;
        opacity: 1;
        letter-spacing: 2.4px;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0;
      }
    }
    .nav {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: space-between;
    

      .nav__link {
      align-self: center;
      color: $nav-fonts;
      font-size: 16px;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 3.2px;
      font-weight: bold;
      font-family: $ubuntu-fonts;
      padding-bottom: 4px;
      
      &:hover { 
        background: linear-gradient(to top, #717171 2px, transparent 0);
        transition: 0.9s; 
      }
    }
  }
}

//FOOTER
.footer {
  @extend %container-shared;
  height: 172px;
  background-color: $title-fonts;
  opacity: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

    %footer-shared {
      font-family: $ubuntu-fonts;
      font-size: 18px;
      opacity: 0.5;
      color: white;
      margin: 0px;
    }
    .footer__title {
      @extend %footer-shared;
      font-weight: bold;
    }

    .footer__copy {
      @extend %footer-shared;
    }
}

//MEDIA QUERE
@media (max-width: 1786px) {
  body::before {
    content: "";
  }
  %container-shared { 
  padding: 0 334px;
  } 
}
@media (max-width: 1486px) {
  body::before {
    content: "";
  }
  %container-shared { 
  padding: 0 200px;
  } 
}
@media (max-width: 1186px) {
  body::before {
    content: "";
  }
  %container-shared { 
  padding: 0 80px;
  } 
}
@media (max-width: 950px) {
  body::before {
    content: "";
  }
  %container-shared { 
  padding: 0px  20px;
  } 
  #myHeader {
  flex-direction: column;
    .nav {
    flex-direction: column;
    padding-bottom: 10px;  
    }
  }
  .main {
    flex-direction: column;
    .main__left {
      margin: 0;
      flex: 1 1 auto;
      .main__content{
        .main__item{
          flex-direction: column;
          .item__header{
            margin: 0px;
            padding: 0px;
            figure {
              width: 100%;
              height: 400px;
            }
            img{
              object-fit: cover;
              }
          }
          .item__context{
            h2{
              margin-top:20px;
            }
            p {
              margin-top: 15px;
            }
          }
        }
      }
    }
    .main__sidebar {
      flex: 1 1 auto;
      padding: 20px;

      .sidebar__top{
        figure {
        width: 100%;
        height: 87px;
          img{
          object-fit: cover;
          }
        }
      }
      .sidebar__content {
        figure {
          width: 100%;
          height: 87px;
          img{
            object-fit: cover;
          }
        }
      }
    }
  }
}
@media (max-width: 750px) {
  body::before {
    content: "";
  }
  .main {
    .main__left {
      .main__content{
        .main__item{
          .item__header{
            figure {
              width: 100%;
              height: 300px;
                img{
                object-fit: cover;
                }
              }
            }
          }
        }
      }
    }
}

@media (max-width: 550px) {
  body::before {
    content: "";
  }
  #myHeader {
    height: 265px;
  .main {
    margin-top: 315px;
    .main__left {
      .main__content{
        .main__item{
          .item__header{
            figure {
              width: 100%;
              height: 100%;
                img{
                object-fit: cover;
                }
            }
          }
        }
      }
    }
  }
}
}